<style>
  /* common css end  */
  .announcement-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .announcement-bar {   
    padding-top: {{ section.settings.pt}}px;
    padding-bottom: {{ section.settings.pb}}px;
  }

  .announcement-bar-content {
    text-align: center;
  }
.ann_title{
  font-size: {{- section.settings.ann_title_size -}}px;   
}
  .announcement-bar-content strong {   
    font-weight: 700;
    line-height: 1;
  }

  .announcement-bar-content p {
    font-size: {{ section.settings.text_size }}px;    
    line-height: 1;
  }
@media only screen and (max-width: 768px){
  .announcement-bar-content p {
    font-size: {{ section.settings.text_size_m }}px;   
  }
  .ann_title{
  font-size: {{- section.settings.ann_title_size_m -}}px;  
}
}

</style>
<div class="announcement-bar m-color-{{ section.settings.color_scheme }}">
  <div class="announcement-container">
    <div class="announcement-bar-content">
      <strong class="ann_title" style=" ">
        {{- section.settings.ann_title -}}
      </strong>
      {{ section.settings.text }}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "APEX Announcement Bar 1",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },  
    {
      "type": "range",
      "id": "pt",
      "label": "Padding Top",
      "default": 15,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Padding Bottom",
      "default": 15,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "text",
      "id": "ann_title",
      "label": "Title",
      "default": "LEI OF LOVE"
    },
    {
      "type": "range",
      "id": "ann_title_size",
      "label": "Font Size",
      "default": 16,
      "min": 10,
      "max": 40,
      "step": 1
    },
    {
      "type": "range",
      "id": "ann_title_size_m",
      "label": "Font Size (Mobile)",
      "default": 16,
      "min": 10,
      "max": 40,
      "step": 1
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Jetzt für 69 €* shoppen & ein <strong>kostenloses Schmuckstück</strong> auswählen!</p>"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text Font Size",
      "default": 16,
      "min": 10,
      "max": 30,
      "step": 1
    },
    {
      "type": "range",
      "id": "text_size_m",
      "label": "Text Font Size (Mobile)",
      "default": 16,
      "min": 10,
      "max": 30,
      "step": 1
    } 
  ],
  "presets": [
    {
      "name": "APEX Announcement Bar 1",
      "settings": {}
    }
  ]
}
{% endschema %}
